<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berry.appmonitor.dao.mapper.AppInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.berry.appmonitor.dao.entity.AppInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="project_id" property="projectId"/>
        <result column="git_url" property="gitUrl"/>
        <result column="description" property="description"/>
        <result column="build_sh" property="buildSh"/>
        <result column="run_path" property="runPath"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, project_id, git_url, description, build_sh, run_path, create_time, update_time
    </sql>

    <select id="pageList" resultType="com.berry.appmonitor.module.vo.AppInfoListVo">
        SELECT
        a.*,
        b.`name` AS projectName,
        c.username
        FROM
        app_info a
        LEFT JOIN project_info b ON a.project_id = b.id
        LEFT JOIN user_info c ON a.owner_id = c.id
        <where>
            <if test="ownerId != null">
                and a.owner_id = #{ownerId}
            </if>
            <if test="keyword != null and keyword != ''">
                and
                (a.name like concat("%",#{keyword},"%")
                or b.name like concat("%",#{keyword},"%")
                or c.username like concat("%",#{keyword},"%")
                or a.git_url like concat("%",#{keyword},"%"))
            </if>
        </where>
    </select>

    <resultMap id="detailAppMap" type="com.berry.appmonitor.module.vo.AppInoDetailVo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="git_url" property="gitUrl"/>
        <result column="description" property="description"/>
        <result column="build_sh" property="buildSh"/>
        <result column="run_path" property="runPath"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="projectName" property="projectName"/>
        <result column="username" property="username"/>
        <collection property="buildHistoryList" column="id" select="getBuildHistoryByAppId">
            <id column="id" property="id"/>
            <result property="appId" column="app_id"/>
            <result property="resultState" column="result_state"/>
            <result property="startTime" column="start_time"/>
            <result property="endTime" column="end_time"/>
            <result property="operator" column="operator"/>
            <result property="serverAddress" column="server_address"/>
        </collection>
        <collection property="appAndServerList" column="id" select="getAppServerListByAppId">
            <result property="name" column="name"/>
            <result property="ip" column="ip"/>
            <result property="serverPort" column="server_port"/>
        </collection>
    </resultMap>

    <select id="getBuildHistoryByAppId" resultType="com.berry.appmonitor.dao.entity.BuildHistory">
        select
        id, app_id, result_state, start_time, end_time, operator, server_address
        from build_history
        where app_id = #{id}
    </select>

    <select id="getAppServerListByAppId" resultType="com.berry.appmonitor.module.vo.AppServerVo">
        select
        b.name, b.ip, a.server_port
        from app_and_server a
        left join server_info b on a.server_id = b.id
        where a.app_id = #{id}
    </select>

    <select id="detailAppById" resultMap="detailAppMap">
        SELECT
        a.id, a.name,
        a.git_url, a.description,
        a.build_sh, a.run_path,
        a.create_time, a.update_time,
        b.`name` AS projectName,
        c.username
        FROM
        app_info a
        LEFT JOIN project_info b ON a.project_id = b.id
        LEFT JOIN user_info c ON a.owner_id = c.id
        where a.owner_id = #{ownerId} and a.id = #{id}
    </select>

</mapper>
