<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berry.appmonitor.dao.mapper.AppInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.berry.appmonitor.dao.entity.AppInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="project_id" property="projectId"/>
        <result column="git_url" property="gitUrl"/>
        <result column="description" property="description"/>
        <result column="build_sh" property="buildSh"/>
        <result column="run_path" property="runPath"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, project_id, git_url, description, build_sh, run_path, create_time, update_time
    </sql>

</mapper>
