<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.berry.appmonitor.dao.mapper.AppInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.berry.appmonitor.dao.entity.AppInfo">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="project_id" property="projectId"/>
        <result column="git_url" property="gitUrl"/>
        <result column="description" property="description"/>
        <result column="build_sh" property="buildSh"/>
        <result column="run_path" property="runPath"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, project_id, git_url, description, build_sh, run_path, create_time, update_time
    </sql>

    <select id="pageList" resultType="com.berry.appmonitor.module.vo.AppInfoListVo">
        SELECT
            a.*,
            b.`name` AS projectName,
            c.username
        FROM
            app_info a
            LEFT JOIN project_info b ON a.project_id = b.id
            LEFT JOIN user_info c ON a.owner_id = c.id
        <where>
            <if test="ownerId != null">
                and a.owner_id = #{ownerId}
            </if>
            <if test="keyword != null and keyword != ''">
                and
                (a.name like concat("%",#{keyword},"%")
                or b.name like concat("%",#{keyword},"%")
                or c.name like concat("%",#{keyword},"%")
                or a.git_url like concat("%",#{keyword},"%"))
            </if>
        </where>
    </select>

</mapper>
